/* Página: Exportar proyectos */

.exportar-container {
    flex: 1; 
    width: 100%;
    max-width: 100%;
    padding: 24px 40px;
    background: var(--color-background) !important;
    overflow-x: hidden;
}

